<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <link rel="icon" type="image/svg+xml" href="/images/favicon.svg"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>AA Archigroup</title>
  <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
  <link rel="stylesheet" href="/css/normalize.css"/>
  <link rel="stylesheet" href="/css/global.css"/>
  <link rel="stylesheet" href="/IBSheet8/css/gray/main.css">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script src="/IBSheet8/ibsheet.js" type="text/javascript"></script>
  <script src="/IBSheet8/ibleaders.js"></script>
  <script src="/IBSheet8/locale/ko.js"></script>
  <script src="/IBSheet8/plugins/ibsheet-common.js"></script>
  <script src="/IBSheet8/plugins/ibsheet-excel.js"></script>
  <script src="/IBSheet8/plugins/ibsheet-dialog.js"></script>
  <script src="/scripts/lib.js"></script>
  <script src="/scripts/app.js"></script>
  <script type="module" crossorigin src="/assets/main-uXe1DQw_.js"></script>
  <link rel="modulepreload" crossorigin href="/assets/components-CdE0weD6.js">
  <link rel="stylesheet" crossorigin href="/assets/main-DR2LjIO-.css">
</head>
<body>
<!-- global header -->
<global-header logo="/images/main-ci.svg" logoAlt="AA Archigroup">
  <user-info id="userInfo"></user-info>
</global-header>
<!-- lnb - module -->
<global-nav-bar></global-nav-bar>
<!-- lnb - menu tree -->
<global-menu-tree></global-menu-tree>
<!-- page content container:start -->
<page-container title="프로젝트 조회"
                search="show" add="show" delete="show" excel="hide" save="show" print="disabled">
  <!-- page content:start -->
  <div id="gridContainer" style="width: 100%; height: 100%;"></div>
  <script type="text/javascript">
    const DATE_FM = {
      "YMD": {
        Type: "Date",
        Align: "Center",
        Width: 110,
        Format: 'yyyy/MM/dd',
        DataFormat: 'yyyyMMdd',
        EditFormat: 'yyyyMMdd',
        Size: 8,
        EmptyValue: ""
      },
    };

    const options = {
      // 기본 기능 설정
      Cfg:{
        Style: "IBGY",
        FitWidth: 1,
        Size : "Small",
        SearchMode: 2,//0, // FastLoad
        HeaderMerge: 3, //헤더 영역 머지 모드 선택
        EnterMode: {
          mode : 4,
          option : 0
        },
        //Alternate : 2,
        AutoSelectFirstEnum : 1, //행 추가시 Enum 컬럼의 첫번째 리스트 아이템이 자동 선택되도록 설정
        RequiredPosition: "Right",
        CanColMove : 0,
        CanColResize : true,
        CanSort : false,

        //상단 또는 하단 전체카운터 표시부분 설정
        InfoRowConfig :{
          Visible : 0,
          "Space" : "Bottom"
        },
        FocusWholeRow: true
      },
      Def:{
        Row:{},
        Header : {
          Height : 30
        },
      },
      LeftCols :[
        {
          Header : "NO",
          Type : "Int",
          Name : "SEQ",
          Width : 50,
          CanFocus : 0,
        }
      ],
      Cols:[
        { Header:{
            Value : "",
            HeaderCheck : 1,
            IconAlign : "Center"
          },
          Type:"Bool",
          Name : "CheckData",
          Width : 30,
          Align : "Center",
          CanEdit : 1,
          CanFocus : 0
        },

        { Header: "아이디", Name: "USER_ID", Type: "Text", Align: "left", CanEdit: 1, Required: 1, Width:150},
        { Header: "이름", Name: "USER_NM", Type: "Text", Align: "left", Required: 1, Width:200},
        { Header: "비밀번호", Name: "USER_PW", Type: "Text", Align: "left", Required: 1, Width:200},
        { Header: "성별", Name: "SEX_CD", Type: "Enum", Enum:"|남자|여자", EnumKeys:"|M|F", Width:100},
        { Header: "생년월일", Name: "BIRTH_DT", Extend:DATE_FM.YMD, Width:120 },
      ],

      Events: {
        onFocus: function(param){
          var row = param.row;
          var col = param.col;
          console.log("onFocus -> row : " + row.id + ", col : " + col);
        },
      }
    };

    const gridData = [];

    IBSheet.create({
      id: "grid",
      el: "gridContainer",
      options: options
    });
  </script>
  <!-- page content:end -->
</page-container>
<!-- page content container:end -->
</body>
</html>
