body {
  height: 100vh;
  background: url("/images/login-bg.png") no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

body.bg-2 {
  background-image: url("/images/login-bg-2.png");
}

body.bg-3 {
  background-image: url("/images/login-bg-3.png");
}

.wrapper {
  height: 606px;
  width: 1254px;
  display: flex;
  flex-direction: row;
}

h1.login-ci {
  padding-top: 207px;
  width: 616px;
  height: 414px;
}

h1.login-ci > img {
}

h1.login-ci > .login-slogan {
  margin-top: 24px;
  color: rgba(255,255,255,0.8);
  display: block;
  font-size: 14px;
  font-family: var(--font-family), serif;
  font-weight: var(--font-weight-normal);
  line-height: 22px;
}

.login-form-wrapper {
  width: 480px;
}

.login-form-wrapper footer {
  margin-top: 12px;
  color: white;
  text-align: center;
  font-size: 12px;
}
