body {
  min-height: 100vh;
  display: flex;
  background-color: var(--body-surface-color);
  padding: 48px 0 0 66px;
}

body.menu-opened {
  padding-left: 276px;
}

body global-menu-tree {
  display: none;
}

body.menu-opened global-menu-tree {
  display: flex;
}
